{% extends "base.twig" %}

{% block content %}
<div class="l-hero--medium" style="background-image:url('{{site.theme.link}}/img/raw/about_banner.jpg')">
  <div class="container">
    <div class="row">
      <h1 class="l-hero__title">
        formgroupnsw.com
      </h1>
      <h2 class="l-hero__subtitle">
        Looks like there's something wrong with this page.
      </h2>
    </div>
  </div>
</div>

<div class="l-basic-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center">
        <h1>404 Page Not Found</h1>
        <br>
        <p>
          The page you are trying to view is not available at the moment.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
