{% extends "base.twig" %}

{% set page = { "headerClass": "navbar-theme-white" } %}

{% block content %}

<div class="l-hero--medium" style="background-image:url('{{site.theme.link}}/img/raw/about_banner.jpg')">
  <div class="container">
    <div class="row">
      <h1 class="l-hero__title">
        {{ post.title }}
      </h1>
      <h2 class="l-hero__subtitle">
        {{ post.description }}
      </h2>
    </div>
  </div>
</div>

<div class="p-one-page l-basic-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div style="max-width: 800px; margin: auto;">
            {{ post.content }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
