{% extends "page-projects.twig" %}

{% block project_content %}


	<div class="p-projects__single-back">
		<div class="container">
			<a href="/projects">
					<img class="p-projects__single-back-icon" src="{{ site.theme.link }}/img/raw/back_icn.svg" alt="" /> Back to Projects
			</a>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<img src="{{ Image(post.project_image_banner).src }}" class="p-projects__single-main-images img-responsive" alt="" />
				<div class="p-projects-single-content">
					<div class="p-projects-single-content__header">
						<h1>{{post.title}}</h1>
					</div>
					<div class="p-projects-single-content__text">
						{{post.content}}
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
